[submodule "resources/rastair"]
	path = resources/rastair
	url = https://bitbucket.org/bsblabludwig/rastair/
[submodule "resources/bsgenova"]
	path = resources/bsgenova
	url = https://github.com/YuanfengZhang/bsgenova.git
[submodule "resources/FAME"]
	path = resources/FAME
	url = git@github.com:YuanfengZhang/FAME.git
